
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0px;
  box-sizing: border-box;
  align-content: center;
  line-height: 1.4285;
  z-index: 1;
  position: relative;
}

div {
  display: block;
}

li {
  display: list-item;
  /* margin-left: 20px; */
}

hr {
  margin-top: 16px;
  margin-right: 32px;
  /* margin-bottom: 16px; */
  border-width: 1px 0 0;
  border-top-style: solid;
  border-top-color: rgb(214, 214, 214);
}

/* CONTAINER */

#mainContainer {
  padding: 16px;
  max-width: 1400px;
  background-color: rgb(247, 247, 247);
  /* margin-top: 16px;
  margin-bottom: 16px; */
  margin: 16px auto;
}

.marginLeft {
  margin-left: 16px;
  /* margin-right: 16px; */
  font-size: 14px;
  flex: 0 1 auto;
  flex-flow: row wrap;
  height: 100%;
  /* width: 100%; */
}

.containerWhite {
  margin: 16px;
  padding: 4px;
  color: rgb(51, 51 ,51);
  background-color: white;
}

.containerHighlights {
  box-sizing: border-box;
  margin: 16px;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  width: 100%;
  list-style: outside none none;
}

/* HEADING */

#moduleTitle {
  font-size: 23px;
  margin-bottom: 8px;
  text-align: center;
}

#tabHeading {
  width: 100%;
  border-bottom: 1px solid rgb(136, 136, 136);
  text-size-adjust: 100%;
}

#tabList {
  border-spacing: 40px 0px;
  vertical-align: baseline;
  padding: 4px 1px 0;
  display: table;
  list-style: outside none none;
  margin: 0px auto;

}

/* TABS */

.tab {
  display: table-cell;
  color: #333333;
  padding: 8px 12px;
  text-align: center;
  font-size: 16px;
  color: rgb(102, 102, 102);
  cursor: pointer;
}

.selected {
  transition: border-color 200ms ease 0ms,
              color 200ms ease 0ms;
  border-bottom: 3px solid rgb(204, 0, 0);
  color: rgb(51, 51, 51);
  font-weight: bold;

}

/* BUTTONS */

.btn {
  /* appearance: button; */
  content: "";
  cursor: pointer;
  display: inline-block;
  /* position: absolute; */
  /* border: 5px solid transparent; */
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(136, 136, 136);
  background-color: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
  margin: 0px;
  /* opacity: 0; */
  padding: 6px 12px;
  /* top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px; */
  /* animation-duration: 500ms; */
  text-align: center;
  font-size: 12px;
  /* align-items: flex-start; */
}

.btn:hover {
  color: rgb(51, 51, 51);
  border-color: rgb(51, 51, 51);
  background-color: rgb(244, 244, 244);
}

.btn:active {
  color: rgb(255, 255, 255);
  background-color: rgb(51, 51, 51);
  border-color: rgb(51, 51, 51);
}

.btn.question {
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
}

.btn.question.ask {
  color: white;
  background-color: rgb(204, 0, 0);
  border-color: rgb(204, 0, 0);
}

.btn.question.ask:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(170, 0, 0);
  border-color: rgb(170, 0, 0);
}

.btn.question.ask:active {
  color: rgb(255, 255, 255);
  background-color: rgb(121, 0, 0);
  border-color: rgb(121, 0, 0);
}

/* SHIPPING & RETURNS */

/* #shipping-returns {
  margin: 16px;
  padding: 4px;
} */

.shippingGreen {
  color: rgb(0, 102, 1);
}

.shippingWarning {
  display: flex;
  color: rgb(232, 105, 0);
  align-self: flex-start;
  justify-content: flex-start;
}

.warningIcon {
  margin-right: 12px;
}

/* HIGHLIGHTS */

.highlightElement {
  /* flex: 0 0 auto; */
  flex-grow: 1;
  display: flex;
  padding-right: 16px;
  padding-top: 12px;
  /* margin-left: initial; */
  flex-basis: 23%;
  max-width: 23%;
}

.highlightItem {
  list-style-type: disc;
  /* padding-right: 16px; */
  margin-right: 16px;
}

/* SPECIFICATIONS AND DESCRIPTION */

.containerSpecDesc {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
}

.collapsed {
  overflow: hidden;
  height: 10px;
  opacity: .9;
  background-image: linear-gradient(to bottom, rgb(247, 247, 247), white)
}

.column {
  /* padding-left: 16px;
  padding-right: 16px; */
  flex-basis: 50%;
  max-width: 50%;
  flex-direction: row;
  font-size: 14px;
}

.reportDetails {
  padding-top: 16px;
  padding-bottom: 32px;
}

.descriptionContainer {
  padding-right: 16px;
  padding-bottom: 16px;
}

.specContainer {
  padding-right: 32px;
  padding-bottom: 16px;
}

/* Q & A */

.containerQuestions {
  padding-top: 16px;
}

.questionRow {
  font-size: 14px;
  font-weight: bold;
}

.questionRowName {
  font-size: 12px;
  color: rgb(102, 102, 102);
  margin-top: -8px;
  margin-bottom: 16px;
}

.questionButtonRow {
  /* align-self: center; */
  /* position: relative; */
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  /* width: 95%; */
  /* max-width: 50%; */
  flex-basis: 50%;
  /* flex: 1 0 auto; */
  padding-left: 8px;
  padding-right: 8px;
  justify-content: space-evenly;
}

.questionButtonColumn {
  flex-basis: 50%;
  max-width: 50%;
  font-size: 16px;
  padding-left: 8px;
  padding-right: 8px;
}

.containerAnswer {
  padding-left: 16px;
  /* padding-bottom: 8px; */
  padding-right: 16px;
}

.answerBold {
  font-size: 16px;
  font-weight: bold;
}

.answerRowName {
  font-size: 12px;
  color: rgb(102, 102, 102);
  margin-bottom: 16px;
  margin-top: 4px;
}

.answerClick {
  margin-left: 16px;
}

/* MODALS */

.overlayHidden {
  position: fixed;
  opacity: 0;
  z-index: -10;
}

.overlayShow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
  opacity: 1;
  z-index: 10;
}

.modalWarningClose {
  position: fixed;
  opacity: 0;
  transform: translate3d(-50%, -50%, 0px) scale(.75);
  z-index: -10;
}

.modalWarningOpen {
  position: fixed;
  padding: 1em;
  background-color: white;
  max-width: 700px;
  width: 85%;
  max-height: 85%;
  inset: 50% auto auto 50%;
  border: 1px rgb(136, 136, 136);
  border-radius: 4px;
  opacity: 1;
  transform: translate3d(-50%, -50%, 0px) scale(1);
  transition: opacity 2000ms ease 0s,
              transform 500ms ease 50ms;
  z-index: 11;
}

.warningBoxHeader {
  display: flex;
  /* align-content: center; */
  justify-content: flex-start;
}

.warningMessage {
  padding: 16px;
  font-size: 16px;
  margin: 0px;
}

.warningHeaderText {
  margin: 0px;
  font-size: 23px;
}

.warningList {
  margin: 0px;
  padding: 16px;
}

.warningListItem {
  margin-top: 8px;
}

.warningClose {
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 5px;
}

/* DISPLAY */

.displayNone {
  display: none !important;
}

.underline {
  cursor: pointer;
  text-decoration: underline;
}

/* MEDIA SPECIFIC */

@media (max-width: 992px) {
  .highlightElement {
    /* flex: 0 0 auto; */
    /* flex-grow: 1; */
    /* display: flex; */
    /* padding-right: 16px;
    padding-top: 12px; */
    /* margin-left: initial; */
    flex-basis: 100%;
    max-width: 100%;
  }

}